canvas{
    position:absolute;
    left:8px;
    top:8px;
    border:1px solid #000000;
}

img.card{
    height: 180px;
    width: 160px;
}


#u_hero{
    position: absolute;
    left: 1050;
    top: 470;
}

#user_cards{
    position: absolute;
    left: 220;
    top: 620;
    width:1060;
    height: 160;
}

#death_deck{
    position: absolute;
    left: 1320;
    top:620;
}

#plague_deck{
    position: absolute;
    left: 20;
    top:620;
}

#war_deck{
    position: absolute;
    left: 20;
    top: 20;
}


#conquest_deck{
    position: absolute;
    left: 1320;
    top: 20;
}


